<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.livehub.cloud.mapper.InitMapper">

    <!--创建数据库-->
    <update id="createDataBase">
        create database if not exists livehub2;
    </update>

    <!--创建身高表-->
    <update id="createTableHeight">
        create table if not exists
            height (ts timestamp, oid binary(24), height smallint)
            tags(did bigint);
    </update>

    <!--创建体重表-->
    <update id="createTableWeight">
        create table if not exists
            weight (ts timestamp, oid binary(24), weight int)
            tags(did bigint);
    </update>

</mapper>
