<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.livehub.cloud.mapper.WeightMapper">

    <insert id="insert"
            parameterType="com.livehub.cloud.mapper.WeightMapper">
        insert into weight${did} using weight tags (#{did,jdbcType=BIGINT})
        values (#{ts,jdbcType=TIMESTAMP}, #{oid,jdbcType=VARCHAR}, #{weight,jdbcType=INTEGER});
    </insert>

    <sql id="WeightVo">
        select ts, oid, weight, did from weight
    </sql>

    <select id="select"
            parameterType="com.livehub.cloud.mapper.WeightMapper"
            resultType="java.util.LinkedHashMap">
        <include refid="WeightVo"/>
    </select>

</mapper>
