<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.livehub.project.cloud.height.mapper.LhcHeightMapper">
    
    <resultMap type="LhcHeight" id="LhcHeightResult">
        <result property="ts"    column="ts"    />
        <result property="oid"    column="oid"    />
        <result property="height"    column="height"    />
        <result property="did"    column="did"    />
    </resultMap>

    <sql id="selectLhcHeightVo">
        select ts, oid, height, did from lhc_height
    </sql>

    <select id="selectLhcHeightList" parameterType="LhcHeight" resultMap="LhcHeightResult">
        <include refid="selectLhcHeightVo"/>
        <where>  
            <if test="oid != null  and oid != ''"> and oid = #{oid}</if>
            <if test="height != null "> and height = #{height}</if>
            <if test="did != null "> and did = #{did}</if>
        </where>
    </select>
    
    <select id="selectLhcHeightById" parameterType="Date" resultMap="LhcHeightResult">
        <include refid="selectLhcHeightVo"/>
        where ts = #{ts}
    </select>
        
    <insert id="insertLhcHeight" parameterType="LhcHeight">
        insert into lhc_height
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ts != null ">ts,</if>
            <if test="oid != null  and oid != ''">oid,</if>
            <if test="height != null ">height,</if>
            <if test="did != null ">did,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ts != null ">#{ts},</if>
            <if test="oid != null  and oid != ''">#{oid},</if>
            <if test="height != null ">#{height},</if>
            <if test="did != null ">#{did},</if>
         </trim>
    </insert>

    <update id="updateLhcHeight" parameterType="LhcHeight">
        update lhc_height
        <trim prefix="SET" suffixOverrides=",">
            <if test="oid != null  and oid != ''">oid = #{oid},</if>
            <if test="height != null ">height = #{height},</if>
            <if test="did != null ">did = #{did},</if>
        </trim>
        where ts = #{ts}
    </update>

    <delete id="deleteLhcHeightById" parameterType="Date">
        delete from lhc_height where ts = #{ts}
    </delete>

    <delete id="deleteLhcHeightByIds" parameterType="String">
        delete from lhc_height where ts in 
        <foreach item="ts" collection="array" open="(" separator="," close=")">
            #{ts}
        </foreach>
    </delete>
    
</mapper>