<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.livehub.system.mapper.LhTaskMapper">
    
    <resultMap type="LhTask" id="LhTaskResult">
        <result property="taskId"    column="task_id"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectLhTaskVo">
        select task_id, start_time, end_time, create_by, create_time, update_by, update_time, remark from lh_task
    </sql>

    <select id="selectLhTaskList" parameterType="LhTask" resultMap="LhTaskResult">
        <include refid="selectLhTaskVo"/>
        <where>  
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
        </where>
    </select>
    
    <select id="selectLhTaskById" parameterType="Long" resultMap="LhTaskResult">
        <include refid="selectLhTaskVo"/>
        where task_id = #{taskId}
    </select>
        
    <insert id="insertLhTask" parameterType="LhTask" useGeneratedKeys="true" keyProperty="taskId">
        insert into lh_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="startTime != null ">start_time,</if>
            <if test="endTime != null ">end_time,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="startTime != null ">#{startTime},</if>
            <if test="endTime != null ">#{endTime},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
         </trim>
    </insert>

    <update id="updateLhTask" parameterType="LhTask">
        update lh_task
        <trim prefix="SET" suffixOverrides=",">
            <if test="startTime != null ">start_time = #{startTime},</if>
            <if test="endTime != null ">end_time = #{endTime},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
        </trim>
        where task_id = #{taskId}
    </update>

    <delete id="deleteLhTaskById" parameterType="Long">
        delete from lh_task where task_id = #{taskId}
    </delete>

    <delete id="deleteLhTaskByIds" parameterType="String">
        delete from lh_task where task_id in 
        <foreach item="taskId" collection="array" open="(" separator="," close=")">
            #{taskId}
        </foreach>
    </delete>
    
</mapper>